<div class="container">  
  <h2 class="page_title">マイタスク</h2>

  <div class="arrow ">
    <p class="arrow-p1">スライド</p>
    <p class="arrow-p2">
      <span class="dli-caret-right"></span>
      <span class="dli-caret-right"></span>
      <span class="dli-caret-right"></span>
    </p>
  </div>
  <div class="task-list">
    <%= render 'users/task-list' %>
  </div>
</div>