.category-form {
  padding: 0 10px;
}
.category-form  div {
  padding-bottom: 30px;
}
.category-form form {
  padding-top: 50px;
}
#category_name {
  width: 100%;
  padding: 10px;
  border: 1px solid #c8c8c8;
}
.category-form-action input {
  background: #517D99;
  color: #fff;
  width: 100%;
  border: none;
  padding: 10px;
}
.category-form label {
  padding-bottom: 7px;
}
#category-list {
  padding-top: 30px;
}
#category-list ul {
  padding-left: 0;
  
}
#category-list ul li {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}
#category-list-a1 {
  background: #fff;
  text-decoration: none;
  color: black;
  padding: 15px;
  width: 70%;
  border: 1px solid #c8c8c8;
}
#category-list-a2 {
  padding: 15px;
  margin-left: 10px;
  text-decoration: none;
  background: #516C9D;
  color: #fff;
  text-align: center;
}
#category-list-a1:hover {
  background: #DEDEDE;
}
#category-list-a2:hover {
  opacity: 0.7;
}
#category-form-delete form {
  border-top: 2px dotted #000;
  margin-top: 35px;
}
#category-form-delete form button {
  width: 100%;
  border: none;
  padding: 10px;
  background: #C0C0C0;
}
.workspace {
  border-top: 2px solid #cccccc;
}
.workspace-in {
  display: flex;
  flex-wrap: wrap;
}
.workspace-left {
  overflow: auto;
  position: absolute;
  border-right: 2px solid #cccccc;
  width: 340px;
  background: #E9E9E9;
}
.workspace-right {
  padding-left: 339px;
  padding-bottom: 100px;
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
}
.workspace-left .task-form-actions input {
  width: 100%;
}
.category_name {
  padding: 20px 10px;
  font-size: 1.1rem;
  border-bottom: 2px solid #cccccc;
  text-align: center;
}
.category_name span {
  font-size: 0.8rem;
  color: #6E777C;
  padding-left: 7px;
}
.workspace-form {
  padding: 35px 15px;
}
.workspace-form div {
  padding-bottom: 30px;
}
.workspace-form  span {
  font-size: 0.7rem;
  color: #6E777C;
  margin-left: 5px;
}
.workspace-title input, .workspace-content textarea {
  width: 100%;
}
.workspace-title label, .workspace-content label, .workspace-status label, .workspace-deadline label {
  padding-bottom: 10px;
}
.workspace-form .status-in {
  padding-bottom: 0 !important;
}
.workspace-form .status-in label {
  padding: 0 8px 0 0;
}
#workspace-task {
  white-space: nowrap;
  overflow: auto;
  width: 100%;
  padding: 40px 40px 10px;
}
#workspace-task #workspace-task-in {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  padding-top: 15px;
}
#workspace-task-in img {
  width: 15px;
}
#workspace-task-in ul {
  background: #fff;
  padding: 15px;
  width: 373px;
  margin: 10px 10px;
  border: 2px solid #c8c8c8;
}
#workspace-task-in .workspace-task-content ul {
  display: block !important;
}
#workspace-task nav {
  width: 800px;
  padding-top: 50px;
  margin: auto;
}
.work-task-edit-title {
  display: flex;
  justify-content: space-between;
}
.work-task-edit-title span {
  display: flex;
}
.work-task-edit-username {
  font-size: 0.7rem;
  color: #6E777C;
}

.workspace-link a {
  width: 28px;
  height: 26px;
  text-align: center;
  display: block;
}
.workspace-link a:hover {
  background: #DEDEDE;
}
.workspace-link button {
  background: #516C9D;
  border: none;
  padding: 3px 9px;
  color: #fff;
  font-size: 0.6rem;
  border-radius: 100px;
}
.workspace-link button:hover {
  opacity: 0.7;
}
.work-task-edit-form1, .work-task-edit-form2 {
  padding-bottom: 20px;
}
.work-task-edit-form1 input {
  width: 100%;
  border: 1px solid #B6B6B6;
  padding: 5px 7px;
}
.work-task-edit-form2 textarea {
  width: 100%;
  border: 1px solid #B6B6B6;
  padding: 5px 7px;
  height: 95px;
}
#workspace-task-in .required ul {
  border: 2px solid #60CAAD;
}
#workspace-task-in .finish ul {
  border: 2px solid #4EA1D5 !important;
}
#workspace-task-in .expired ul {
  border: 2px solid #E67A7A;
}
.reload {
  color: #fff;
  background: #516C9D;
  padding: 10px;
  text-decoration: none;
  position: relative;
  left: 10px;
  font-size: 0.8rem;
}
.reload:hover {
  color: #fff;
  opacity: 0.7;
}
.required .work-task-edit-title-link {
  font-weight: 700;
    color: #60CAAD;
    margin-bottom: 7px;
    border-bottom: 2px solid;
    text-decoration: none;
}
.expired .work-task-edit-title-link {
  font-weight: 700;
    color: #E67A7A;
    margin-bottom: 7px;
    border-bottom: 2px solid;
    text-decoration: none;
}
.finish .work-task-edit-title-link {
  color: #4EA1D5 !important;  
}
.required .work-task-edit-title-link:hover, .expired .work-task-edit-title-link:hover {
  opacity: 0.7;
}
.work-task-edit-action input {
  border: 1px solid;
  padding: 2px 8px;
  background: #f2f2f2;
}
.work-task-edit-action .back {
  border: 1px solid;
  background: #f2f2f2;
  padding: 6px 7px;
  margin-left: 5px;
  color: black;
  text-decoration: none;
}
.explanation {
  padding: 17px 0px 0 9px;
  display: flex;
  margin: 0;
}
.explanation li {
  font-size: 0.7rem;
  padding-right: 5px;
  font-weight: 700;
}
.explanation1 {
  color: #4EA1D5;
}
.explanation2 {
  color: #60CAAD;
}
.explanation3 {
  color: hsl(0, 68%, 69%);
}
.explanation4 {
  color: #6E777C;
}
.workspace-task-in-other {
  border: 2px solid #B6B6B6;
}
#workspace-newtask {
  display: contents;
}
#workspace-newtask .work-task-edit-title {
  height: 35px;
}
#workspace-newtask p a {
  display: block;
  width: 28px;
  height: 27px;
  text-align: center;
}
#workspace-newtask p a:hover {
  background: #DEDEDE;
}
#workspace-newtask .work-task-edit-title-link {
  font-weight: 700;
  color: #6E777C;
  margin-bottom: 7px;
  border-bottom: 2px solid;
  text-decoration: none;
}
.workspace-sort {
  padding-left: 8px;
}
.workspace-sort a{
  color: black;
  text-decoration: none;
}
.workspace-sort a:hover {
  text-decoration: underline;
  color: black;
}
