<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
  <script>
    setTimeout(function() {
      $('.alert').fadeOut();
    }, 5000);
  </script>
<% end %> 